/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {

  // Limit resources so that this can run on Travis
  maxCpus = 4
  maxMemory = 16.GB
  maxTime = 2.h

  // Input data
  singleEnd = true
  reads = "$projectDir/test/*.fastq.gz"
   

  //samplePlan = "$projectDir/test/samplePlanBam.csv"

  design = "${projectDir}/test/design.csv"
}
